<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">false</property>
    <property name="enable_lazy_load_no_trans">true</property>
      <mapping resource="Auth.hbm.xml"></mapping>
    <mapping resource="Category.hbm.xml"></mapping>
    <mapping resource="History.hbm.xml"></mapping>
    <mapping resource="Invoice.hbm.xml"></mapping>
    <mapping resource="InvoiceDetail.hbm.xml"></mapping>
    <mapping resource="Menu.hbm.xml"></mapping>
    <mapping resource="ProductInfo.hbm.xml"></mapping>
    <mapping resource="ProductInStock.hbm.xml"></mapping>
    <mapping resource="UserRole.hbm.xml"></mapping>
    <mapping resource="Users.hbm.xml"></mapping>
    <mapping class="inventory.model.Auth"/>
    <mapping class="inventory.model.Category"/>
    <mapping class="inventory.model.History"/>
    <mapping class="inventory.model.Invoice"/>
    <mapping class="inventory.model.InvoiceDetail"/>
    <mapping class="inventory.model.Menu"/>
    <mapping class="inventory.model.ProductInfo"/>
    <mapping class="inventory.model.ProductInStock"/>
    <mapping class="inventory.model.Role"/>
    <mapping resource="Role.hbm.xml"/>
    <mapping class="inventory.model.Users"/>
    <mapping class="inventory.model.UserRole"/>
  </session-factory>
</hibernate-configuration>